In [1]:
import pandas as pd

data = {
    'name': ['john', 'emma', 'sant', 'lisa', 'tom'],
    'age': [25, 30, 28, 32, 27],
    'country': ['usa', 'canada', 'india', 'uk', 'australia'],
    'salary': [5000, 6000, 7000, 8000, 6500]
}

df = pd.DataFrame(data)

filtered_df = df[df['country'] == 'usa']
print("\nFiltered DataFrame (country = 'usa'):")
print(filtered_df)

sorted_df = df.sort_values(by='salary', ascending=False)
print("\nSorted DataFrame (by salary in descending order):")
print(sorted_df)

average_salary = df['salary'].mean()
print("\nAverage Salary:", average_salary)
      
df['experience'] = [3, 6, 4, 8, 5]
print("\nDataFrame with added experience:")
print(df)

df.loc[df['name'] == 'emma', 'salary'] = 65000
print("\nDataFrame after updating Emma's salary:")
print(df)

df = df.drop('experience', axis=1)
print("\nDataFrame after deleting  column:")
print(df)

Filtered DataFrame (country = 'usa'):
   name  age country  salary
0  john   25     usa    5000

Sorted DataFrame (by salary in descending order):
   name  age    country  salary
3  lisa   32         uk    8000
2  sant   28      india    7000
4   tom   27  australia    6500
1  emma   30     canada    6000
0  john   25        usa    5000

Average Salary: 6500.0

DataFrame with added experience:
   name  age    country  salary  experience
0  john   25        usa    5000           3
1  emma   30     canada    6000           6
2  sant   28      india    7000           4
3  lisa   32         uk    8000           8
4   tom   27  australia    6500           5

DataFrame after updating Emma's salary:
   name  age    country  salary  experience
0  john   25        usa    5000           3
1  emma   30     canada   65000           6
2  sant   28      india    7000           4
3  lisa   32         uk    8000           8
4   tom   27  australia    6500           5

DataFrame after deleting  column:
   name  age    country  salary
0  john   25        usa    5000
1  emma   30     canada   65000
2  sant   28      india    7000
3  lisa   32         uk    8000
4   tom   27  australia    6500